doctype 5
html
   head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      title Chat
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/socket.io/socket.io.js")
      script(src="/js/chat.js")
      link(rel='stylesheet', href='/css/general.css')      
      link(rel='stylesheet', href='/css/chat.css')
   body
     div#loginScreen
         div#back
             a(href="../").btn-green-gray.btn-back Back
         div#username
            div.icon-large.icon-message &nbsp;
            h1.title Node Chat
            input(type='text')#usernameInput
            div#setUsername.btn-green-gray Get going
     div#chatScreen
        div#chatBox
            div#chatSection
                div#chatEntries 
            div#msgSection
                    input#messageInput
                    a#submit.btn-green-gray Send
        div#userSection
            h2.title Users
            ul#user-list