doctype 5
html
   head
      title Overview page
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
     
      link(rel='stylesheet', href='/css/general.css')
      link(rel='stylesheet', href='/css/home.css')
   body
      div#container
         header
            h1 Welcome to my NodeJS + ExpressJS Test projects.
         
         div#link-container
             a(class='btn-green-gray', href='/chat') Chat
             a(class='btn-green-gray', href='/upload') Upload