doctype 5
html
   head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      title Upload
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="/siofu/client.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/upload.js")
      
      link(rel='stylesheet', href='/css/general.css')
      link(rel='stylesheet', href='/css/upload.css')
   body
     div#loginScreen
         div#back
            a(href="../").btn-green-gray.btn-back Back
         div#username
            div.icon-large.icon-upload &nbsp;
            h1.title Node Upload
            input(type='text')#usernameInput
            div#setUsername.btn-green-gray Start uploading!
     div#uploadScreen
        div#shareSection
            div#imageEntries
            
        div#uploadSection 
            div#file_drop Drop Files Here!
            div#or -
            div#uploadField
                p Click to select your image
                input(type="file")#file_input
            div.cleaner &nbsp;
            a#file_button.btn-green-gray Upload File