@import 'variables';

div#chatScreen {
    position: relative;
    
    width: 100%;
    height: 100%;
    
    div#chatBox {
        width: 70%;
        height: 100%;
        padding: 15px;
        
        float: left;
        
        display: none;
        
        div#chatSection {
            position: relative;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            width: 100%;
            
            #submit {
                max-width: 200px;
                margin-top: 20px;
            }
            
            #chatEntries {
                height: auto;
                position: relative;
                width: 100%;
                
                .message {
                    margin-top: 15px;
                    
                    p {
                        display: inline-block;
                        padding: 10px;
                        background-color: $subtle_color;
                        border-radius: 4px;
                        
                        word-break: break-word;
                    }
                    
                    &.own {
                        text-align: right;
                        
                        p {
                            background-color: $highlight_color;
                            color: $secondary_color;
                        }   
                    }
                    
                }
                .connected {
                    font-style: italic;
                    color: $highlight_color;
                    margin-top: 10px;
                }
                .disconnected {
                    font-style: italic;
                    color: $error_color;
                    margin-top: 10px;
                }
            } 
        }
        
        #msgSection {
            margin-top: 15px;
            position: relative;
            width: 100%;
            
            .btn-green-gray {
                margin-top: 10px;
            }
        }
    }
    
    div#userSection {
        position: relative;
        width: 30%;
        min-height: 100%;
        float: left;
        
        display: none;
        
        top: 0;
        right: 0;
        
        padding: 15px;
        
        background-color: $secondary_color;
        
        ul#user-list {
            margin-top: 15px;
            
            li {
                display: block;
                height: $size_30x30;
                line-height: $size_30x30;
                
                margin-top: 10px;
                padding-left: 35px;
                
                background-image: url('../images/icons/icons-general.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                
                &.active {
                    background-position: -30px 0;
                }
            }
        }
    }
}

/*  and (max-width : 480px) */
@media only screen and (max-width : 800px) {
    div#loginScreen {
        padding-top: 15px;
    }
    
    div#chatScreen {
       div#chatBox {
            width: 100%;
            float: none;
        }
        div#userSection {
            display: none !important;
        } 
    }
}