@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

@import 'variables';

/***************************/
/*     GENERAL CLASSES     */
/***************************/
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html, body {
    width: 100%;
}
html { height: 100%; }
body {
    background-color: #eeeeee;
    font-size: 1em;
    font-family: "Open Sans";

    color: $primary_color;

    height: 100%;
}

h1 {
    text-align: center;
}
h2 {
    font-weight: 400;
}
ul {
    
    li {
        list-style: none;
    }
}

input, textarea {
    outline: none;
    
    width: 100%;
    height: $form_field_height;
    line-height: $form_field_height - 16;
    padding: 8px 10px;
    
    background-color: $subtle_color;
    
    border-radius: 4px;
    border: $subtle_border;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    
    box-sizing: border-box;
    
    font-size: 1.2em;
    
    color: $primary_color;
}

/***************************/
/*     GENERAL CLASSES     */
/***************************/
.icon-large {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-image: url('../images/icons/icons-large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    
    &.icon-message {
        background-position: 0 0;
    }
    &.icon-upload {
        background-position: 0 $icon_120x120*-1;
    }
}

.btn-green-gray {
    display: block;
    width: 100%;
    height: $btn_height;
    line-height: $btn_height;
    
    color: $secondary_color;
    text-align: center;
    
    border-radius: 4px;
    
    background-color: $highlight_color;
    
    cursor: pointer;
    
    &:hover {
        background-color: $primary_color;
    }
    
    &.btn-back {
        height: $btn_height;
        width: $btn_height;
    }
}
div#back {
    position: absolute;
    top: 15px;
    left: 15px;
}
.cleaner {
    clear: both;
    line-height: 1px;
    float: none;
    height: 1px;
    display: block;
    font-size: 1px;
}

    /***************************/
    /*       STYLED FORM       */
    /***************************/
    // TODO: General styling for all form elements used.


/***************************/
/*        LOGIN FORM       */
/***************************/
div#loginScreen {
    padding-top: 120px;
    
    div#username {
        width: 280px;
        height: 400px;
        
        margin: 0 auto;
        
        background-color: $secondary_color;    
        border-radius: 4px;
        
        padding: 15px;
        
        overflow: hidden;
        
        .icon-large {
            margin-top: 30px;
        }
        
        .title {
            margin-top: 20px;
        }
        
        input#usernameInput {        
            margin-top: 25px;
            
            text-align: left;
        }
        
        div#setUsername {
            margin-top: 20px;
        }
    }
}