@import 'variables';

div#container {
    text-align: center;
    padding: 15px;
    
    h1 {
    
    }
    
    div#link-container {
        text-align: center;
        margin-top: 30px;
        
        .btn-green-gray {
            width: 150px;
            display: inline-block;
            margin: 0 10px;
        }
    }
}
