@import 'variables';

div#uploadScreen {
    width: 100%;
    max-width: 1024px;
    
    margin: 0 auto;

    display: none;
    padding: 15px;
    text-align: center;
    
    
    div#shareSection {
        width: 100%;
        height: auto;
        
        overflow: auto;
        -webkit-overflow-scrolling: touch;
       
        div#imageEntries {
            text-align: left;
                          
           .message {
               padding: 15px;
               width: auto;
               max-width: 100%;
              text-align: left;

               strong {
                   display: inline-block;
                   background-color: $subtle_color;
                   padding: 10px;
                   width: auto;
               }
               img {
                   width: auto;
                   max-width: 100%;
                   height: auto;
                   border: $subtle_border;
                   margin: 10px 0 0 0;
               }
               
               &.own {
                   text-align: right;
                   color: $secondary_color;
                                  
                   strong {
                       background-color: $highlight_color;
                   }
               }
           } 
        }
    }
    
    div#uploadSection {
        width: auto;
        display: inline-block;
        
        margin-top: 15px;
        
        div#file_drop {
        
           padding: 10px;
           width: $size_200x200;
           height: $size_200x200;
           line-height: $size_200x200 - 30; // - padding
           text-align: center;
           
           border: $subtle_border;
           background-color: $secondary_color;
           
           float: left;
        }
        
        div#or {
            width: $size_30x30;
            height: $size_200x200;
            line-height: $size_200x200;
            
            padding: 0 15px;
            
            float: left;
        }
        
        div#uploadField {
           position: relative;
           width: $size_200x200 * 2;
           height: $size_200x200;
           line-height: $size_200x200;
           text-align: center;
           
           border: $subtle_border;
           background-color: $secondary_color;
           
           float: left;
           
           input {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            
            @include hp-opacity(0);
            
            text-size: 1em;
            
            width: 100%;
            
            overflow: hidden;
           }
        }
        
        a#file_button {
            display: block;
            clear: both;
            width: $size_200x200 * 3 + $size_30x30;
            
            margin-top: 15px;
        }
    }
}