/***************************/
/*        VARIABLES        */
/***************************/
$primary_color: rgb(130,130,130);
$secondary_color: rgb(255,255,255);
$highlight_color: rgb(140,180,90);

$error_color: rgb(225,93,93);

$subtle_color: rgb(250,250,250);
$subtle_border: 1px solid rgb(220,220,220);

$form_field_height: 55px;
$btn_height: 55px;

$min_width: 960px;
$min_height: 690px;

$size_30x30: 30px;
$size_200x200: 200px;

$icon_120x120: 120px;


         
@mixin hp-opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}