/***************************/
/*        VARIABLES        */
/***************************/
/* line 3, sass/chat.scss */
div#chatScreen {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 9, sass/chat.scss */
div#chatScreen div#chatBox {
  width: 70%;
  height: 100%;
  padding: 15px;
  float: left;
  display: none;
}
/* line 18, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
/* line 24, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #submit {
  max-width: 200px;
  margin-top: 20px;
}
/* line 29, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries {
  height: auto;
  position: relative;
  width: 100%;
}
/* line 34, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries .message {
  margin-top: 15px;
}
/* line 37, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries .message p {
  display: inline-block;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 4px;
  word-break: break-word;
}
/* line 46, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries .message.own {
  text-align: right;
}
/* line 49, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries .message.own p {
  background-color: #8cb45a;
  color: white;
}
/* line 56, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries .connected {
  font-style: italic;
  color: #8cb45a;
  margin-top: 10px;
}
/* line 61, sass/chat.scss */
div#chatScreen div#chatBox div#chatSection #chatEntries .disconnected {
  font-style: italic;
  color: #e15d5d;
  margin-top: 10px;
}
/* line 69, sass/chat.scss */
div#chatScreen div#chatBox #msgSection {
  margin-top: 15px;
  position: relative;
  width: 100%;
}
/* line 74, sass/chat.scss */
div#chatScreen div#chatBox #msgSection .btn-green-gray {
  margin-top: 10px;
}
/* line 80, sass/chat.scss */
div#chatScreen div#userSection {
  position: relative;
  width: 30%;
  min-height: 100%;
  float: left;
  display: none;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: white;
}
/* line 95, sass/chat.scss */
div#chatScreen div#userSection ul#user-list {
  margin-top: 15px;
}
/* line 98, sass/chat.scss */
div#chatScreen div#userSection ul#user-list li {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  padding-left: 35px;
  background-image: url("../images/icons/icons-general.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 110, sass/chat.scss */
div#chatScreen div#userSection ul#user-list li.active {
  background-position: -30px 0;
}

/*  and (max-width : 480px) */
@media only screen and (max-width: 800px) {
  /* line 120, sass/chat.scss */
  div#loginScreen {
    padding-top: 15px;
  }

  /* line 125, sass/chat.scss */
  div#chatScreen div#chatBox {
    width: 100%;
    float: none;
  }
  /* line 129, sass/chat.scss */
  div#chatScreen div#userSection {
    display: none !important;
  }
}
