@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
/***************************/
/*        VARIABLES        */
/***************************/
/***************************/
/*     GENERAL CLASSES     */
/***************************/
/* line 8, sass/general.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 15, sass/general.scss */
html, body {
  width: 100%;
}

/* line 18, sass/general.scss */
html {
  height: 100%;
}

/* line 19, sass/general.scss */
body {
  background-color: #eeeeee;
  font-size: 1em;
  font-family: "Open Sans";
  color: #828282;
  height: 100%;
}

/* line 29, sass/general.scss */
h1 {
  text-align: center;
}

/* line 32, sass/general.scss */
h2 {
  font-weight: 400;
}

/* line 37, sass/general.scss */
ul li {
  list-style: none;
}

/* line 42, sass/general.scss */
input, textarea {
  outline: none;
  width: 100%;
  height: 55px;
  line-height: 39px;
  padding: 8px 10px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid gainsboro;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-sizing: border-box;
  font-size: 1.2em;
  color: #828282;
}

/***************************/
/*     GENERAL CLASSES     */
/***************************/
/* line 69, sass/general.scss */
.icon-large {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-image: url("../images/icons/icons-large.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 77, sass/general.scss */
.icon-large.icon-message {
  background-position: 0 0;
}
/* line 80, sass/general.scss */
.icon-large.icon-upload {
  background-position: 0 -120px;
}

/* line 85, sass/general.scss */
.btn-green-gray {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  color: white;
  text-align: center;
  border-radius: 4px;
  background-color: #8cb45a;
  cursor: pointer;
}
/* line 100, sass/general.scss */
.btn-green-gray:hover {
  background-color: #828282;
}
/* line 104, sass/general.scss */
.btn-green-gray.btn-back {
  height: 55px;
  width: 55px;
}

/* line 109, sass/general.scss */
div#back {
  position: absolute;
  top: 15px;
  left: 15px;
}

/* line 114, sass/general.scss */
.cleaner {
  clear: both;
  line-height: 1px;
  float: none;
  height: 1px;
  display: block;
  font-size: 1px;
}

/***************************/
/*       STYLED FORM       */
/***************************/
/***************************/
/*        LOGIN FORM       */
/***************************/
/* line 132, sass/general.scss */
div#loginScreen {
  padding-top: 120px;
}
/* line 135, sass/general.scss */
div#loginScreen div#username {
  width: 280px;
  height: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  overflow: hidden;
}
/* line 148, sass/general.scss */
div#loginScreen div#username .icon-large {
  margin-top: 30px;
}
/* line 152, sass/general.scss */
div#loginScreen div#username .title {
  margin-top: 20px;
}
/* line 156, sass/general.scss */
div#loginScreen div#username input#usernameInput {
  margin-top: 25px;
  text-align: left;
}
/* line 162, sass/general.scss */
div#loginScreen div#username div#setUsername {
  margin-top: 20px;
}
