/***************************/
/*        VARIABLES        */
/***************************/
/* line 3, sass/home.scss */
div#container {
  text-align: center;
  padding: 15px;
}
/* line 11, sass/home.scss */
div#container div#link-container {
  text-align: center;
  margin-top: 30px;
}
/* line 15, sass/home.scss */
div#container div#link-container .btn-green-gray {
  width: 150px;
  display: inline-block;
  margin: 0 10px;
}
