/***************************/
/*        VARIABLES        */
/***************************/
/* line 3, sass/upload.scss */
div#uploadScreen {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: none;
  padding: 15px;
  text-align: center;
}
/* line 14, sass/upload.scss */
div#uploadScreen div#shareSection {
  width: 100%;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 21, sass/upload.scss */
div#uploadScreen div#shareSection div#imageEntries {
  text-align: left;
}
/* line 24, sass/upload.scss */
div#uploadScreen div#shareSection div#imageEntries .message {
  padding: 15px;
  width: auto;
  max-width: 100%;
  text-align: left;
}
/* line 30, sass/upload.scss */
div#uploadScreen div#shareSection div#imageEntries .message strong {
  display: inline-block;
  background-color: #fafafa;
  padding: 10px;
  width: auto;
}
/* line 36, sass/upload.scss */
div#uploadScreen div#shareSection div#imageEntries .message img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 1px solid gainsboro;
  margin: 10px 0 0 0;
}
/* line 44, sass/upload.scss */
div#uploadScreen div#shareSection div#imageEntries .message.own {
  text-align: right;
  color: white;
}
/* line 48, sass/upload.scss */
div#uploadScreen div#shareSection div#imageEntries .message.own strong {
  background-color: #8cb45a;
}
/* line 56, sass/upload.scss */
div#uploadScreen div#uploadSection {
  width: auto;
  display: inline-block;
  margin-top: 15px;
}
/* line 62, sass/upload.scss */
div#uploadScreen div#uploadSection div#file_drop {
  padding: 10px;
  width: 200px;
  height: 200px;
  line-height: 170px;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  float: left;
}
/* line 76, sass/upload.scss */
div#uploadScreen div#uploadSection div#or {
  width: 30px;
  height: 200px;
  line-height: 200px;
  padding: 0 15px;
  float: left;
}
/* line 86, sass/upload.scss */
div#uploadScreen div#uploadSection div#uploadField {
  position: relative;
  width: 400px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  float: left;
}
/* line 98, sass/upload.scss */
div#uploadScreen div#uploadSection div#uploadField input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  text-size: 1em;
  width: 100%;
  overflow: hidden;
}
/* line 116, sass/upload.scss */
div#uploadScreen div#uploadSection a#file_button {
  display: block;
  clear: both;
  width: 630px;
  margin-top: 15px;
}
